{% extends "::base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h2>Nouvel utilisateur</h2>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    {{ form_row(form.roles) }}
    {{ form_end(form) }}
{% endblock %}
